.Banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 90px 50px 90px;
  &__Nav {
    width: 180px;
    display: flex;
    justify-content: space-between;
    & a {
      text-decoration: none;
      & span {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }
    }
  }
  .Nav-active {
    text-decoration: underline;
    color: black;
  }
}
