.Banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 90px 50px 90px;
  &__Nav {
    width: 180px;
    display: flex;
    justify-content: space-between;
    & a {
      text-decoration: none;
      & span {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }
    }
  }
  .Nav-active {
    text-decoration: underline;
    color: black;
  }
}

// Responsive Mobile

@media (max-width: 480px) {
  .Banner {
    padding: 25px 10px 25px 20px;
    &__Nav {
      justify-content: flex-end;
      gap: 25px;
      width: 80%;
    }
    &__Logo {
      & img {
        width: 65%;
      }
    }
    &__Nav {
      & a {
        font-size: 14px;
      }
    }
  }
}

// Responsive tablets

@media (max-width: 1024px) {
  .Banner {
    padding: 25px 10px 25px 20px;
  }
}
