.container__logement {
  padding: 0px 90px 50px 90px;
}

/* Style du composant presentation logement */
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  &__main {
    & h1 {
      color: #ff6060;
      font-weight: 500;
      margin-top: 0;
    }
    & span {
      font-weight: 600;
    }
    &__tags {
      display: flex;
      flex-direction: row;
      gap: 10px;
      & p {
        color: white;
        background-color: #ff6060;
        padding: 5px 20px 5px 20px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 15px;
      }
    }
  }
  &__second {
    display: flex;
    flex-direction: column;
    &__profil {
      display: flex;
      flex-direction: row;
      align-items: center;
      & p {
        margin-right: 15px;
        color: #ff6060;
        font-weight: 500;
        width: 70px;
        text-align: right;
      }
      & img {
        width: 75px;
        border-radius: 50px;
        object-fit: cover;
      }
    }
    &__rating {
      margin-top: 25px;
      display: flex;
      justify-content: flex-end;
      & .star-rating {
        display: flex;

        .fa-star {
          font-size: 20px;
          color: #ddd; // Couleur par défaut des étoiles (gris clair)
          margin-right: 10px;
        }

        .red {
          color: #ff6060; // Couleur pour les étoiles pleine
        }
      }
    }
  }
}

/* Style description logement */
.container__dropMenu {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.dropdown-menu {
  position: relative;
  margin-top: 15px;
  width: 50%;

  .dropdown-list {
    position: absolute;
    top: 54%;
    left: 0;
    background-color: rgb(248, 247, 247);
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    max-height: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    & li {
      padding-bottom: 7px;
      padding: 8px 0 7px 15px;
    }
  }

  &.open {
    //margin-bottom: 12%; voir comment faire
    .dropdown-list {
      max-height: 220px;
      padding: 10px 0;
    }
    .arrow {
      transform: rotate(180deg);
    }
  }

  .dropdown-trigger {
    background-color: #ff6060;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    & p {
      margin: 0;
      color: white;
      font-weight: 600;
    }
  }

  .arrow {
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    transform: rotate(0deg);
    color: white;
  }
}
.dropdown-item {
  padding: 5px 20px;
}

// Responsive Mobile

@media (max-width: 480px) {
  .container__logement {
    padding: 0 11px 50px 11px;
    .presentation {
      flex-direction: column;
      &__main {
        & h1 {
          font-size: 23px;
        }
        &__tags {
          & p {
            border-radius: 10px;
            font-size: 10px;
            width: 100%;
            padding: 0;
            height: 28px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
          }
        }
      }
      &__second {
        flex-direction: row-reverse;
        justify-content: space-between;
        &__profil {
          & img {
            width: 45px;
          }
          & p {
            font-size: 14px;
          }
        }
        &__rating {
          & .star-rating {
            & .fa-star {
              font-size: 14px;
              margin-right: 6px;
            }
          }
        }
      }
    }
  }

  .container__dropMenu {
    flex-direction: column;
    gap: 20px;
    .dropdown-menu {
      width: 100%;
      &.open {
        margin-bottom: 44%;
      }
    }
  }
}

// Responsive tablets

@media (max-width: 1024px) and (min-width: 481px) {
  .container__logement {
    padding: 0 11px 50px 11px;
    .presentation {
      &__main {
        & h1 {
          font-size: 22px;
        }
        & span {
          font-size: 14px;
        }
        &__tags {
          margin-top: 15px;
          & p {
            font-size: 13px;
            width: 100%;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 13px;
            padding: 0;
          }
        }
      }
      &__second {
        &__profil {
          & img {
            width: 60px;
          }
          & p {
            width: 87px;
          }
        }
        &__rating {
          margin-top: 35px;
          & .star-rating {
            & .fa-star {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .container__dropMenu {
    gap: 35px;
    .dropdown-menu {
      &.open {
        margin-bottom: 16%;
      }
    }
  }
}
