.container__DropMenu__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 40px 0;
  & .dropdown-menu {
    width: 75%;
    margin-top: 36px;
    &.open {
      margin-bottom: 40px;
    }
  }
}

.Footer {
  margin-top: 97px;
}

// Responsive Mobile

@media (max-width: 480px) {
  .body__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container__DropMenu__about {
    margin: 20% 0 40% 0;
    & .dropdown-menu {
      &.open {
        margin-bottom: 165px;
      }
    }
  }
}

// Responsive tablets

@media (max-width: 1024px) and (min-width: 481px) {
  .container__DropMenu__about {
    & .dropdown-menu {
      &.open {
        margin-bottom: 90px;
      }
    }
  }
}
