.container__caroussel {
  display: flex;
  flex-direction: row;
  height: 525px;
  position: relative;
  .caroussel__button--left {
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 15px;
  }
  .caroussel__image {
    position: absolute;
    z-index: 0;
    width: 100%;
    & img {
      width: 100%;
      height: 525px;
      object-fit: cover;
    }
  }
  .caroussel__counter {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    right: 50%;
    color: white;
  }
  .caroussel__button--right {
    position: absolute;
    z-index: 1;
    top: 44%;
    right: 15px;
  }
}
