.container__caroussel {
  display: flex;
  flex-direction: row;
  height: 525px;
  position: relative;
  .caroussel__button--left {
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 15px;
  }
  .caroussel__image {
    position: absolute;
    z-index: 0;
    width: 100%;
    & img {
      width: 100%;
      height: 525px;
      object-fit: cover;
      border-radius: 25px;
    }
  }
  .caroussel__counter {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    right: 50%;
    color: white;
  }
  .caroussel__button--right {
    position: absolute;
    z-index: 1;
    top: 44%;
    right: 15px;
  }
}

// Responsive Mobile

@media (max-width: 480px) {
  .container__caroussel {
    height: 380px;
    .caroussel__button--left {
      width: 47px;
      top: 50%;
      left: 0;
    }
    .caroussel__button--right {
      width: 47px;
      top: 50%;
      right: 0;
    }
    .caroussel__image {
      & img {
        height: 380px;
      }
    }
  }
}

// Responsive tablets

@media (max-width: 1024px) {
  .container__caroussel {
    .caroussel__button--left {
      width: 70px;
      left: 0;
    }
    .caroussel__button--right {
      width: 70px;
      right: 0;
    }
  }
}
