.Footer {
  background: black;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & img {
    margin-top: 20px;
  }
  & p {
    color: white;
    font-family: "Montrserrat", sans-serif;
    font-size: 17px;
    margin: 30px 0 0 0;
  }
}

// Responsive Mobile

@media (max-width: 480px) {
  .Footer {
    margin-top: 55px;
    height: 200px;
    & img {
      width: 35%;
    }
    & p {
      width: 90px;
      font-size: 12px;
      text-align: center;
    }
  }
}
