.Banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 90px 50px 90px;
}
.Banner__Nav {
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.Banner__Nav a {
  text-decoration: none;
}
.Banner__Nav a span {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.Banner .Nav-active {
  text-decoration: underline;
  color: black;
}

@media (max-width: 480px) {
  .Banner {
    padding: 25px 10px 25px 20px;
  }
  .Banner__Nav {
    justify-content: flex-end;
    gap: 25px;
    width: 80%;
  }
  .Banner__Logo img {
    width: 65%;
  }
  .Banner__Nav a {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .Banner {
    padding: 25px 10px 25px 20px;
  }
}
.container__caroussel {
  display: flex;
  flex-direction: row;
  height: 525px;
  position: relative;
}
.container__caroussel .caroussel__button--left {
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 15px;
}
.container__caroussel .caroussel__image {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.container__caroussel .caroussel__image img {
  width: 100%;
  height: 525px;
  object-fit: cover;
  border-radius: 25px;
}
.container__caroussel .caroussel__counter {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  right: 50%;
  color: white;
}
.container__caroussel .caroussel__button--right {
  position: absolute;
  z-index: 1;
  top: 44%;
  right: 15px;
}

@media (max-width: 480px) {
  .container__caroussel {
    height: 380px;
  }
  .container__caroussel .caroussel__button--left {
    width: 47px;
    top: 50%;
    left: 0;
  }
  .container__caroussel .caroussel__button--right {
    width: 47px;
    top: 50%;
    right: 0;
  }
  .container__caroussel .caroussel__image img {
    height: 380px;
  }
}
@media (max-width: 1024px) {
  .container__caroussel .caroussel__button--left {
    width: 70px;
    left: 0;
  }
  .container__caroussel .caroussel__button--right {
    width: 70px;
    right: 0;
  }
}
.container__logement {
  padding: 0px 90px 50px 90px;
}

/* Style du composant presentation logement */
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.presentation__main h1 {
  color: #ff6060;
  font-weight: 500;
  margin-top: 0;
}
.presentation__main span {
  font-weight: 600;
}
.presentation__main__tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.presentation__main__tags p {
  color: white;
  background-color: #ff6060;
  padding: 5px 20px 5px 20px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 15px;
}
.presentation__second {
  display: flex;
  flex-direction: column;
}
.presentation__second__profil {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.presentation__second__profil p {
  margin-right: 15px;
  color: #ff6060;
  font-weight: 500;
  width: 70px;
  text-align: right;
}
.presentation__second__profil img {
  width: 75px;
  border-radius: 50px;
  object-fit: cover;
}
.presentation__second__rating {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}
.presentation__second__rating .star-rating {
  display: flex;
}
.presentation__second__rating .star-rating .fa-star {
  font-size: 20px;
  color: #ddd;
  margin-right: 10px;
}
.presentation__second__rating .star-rating .red {
  color: #ff6060;
}

/* Style description logement */
.container__dropMenu {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.dropdown-menu {
  position: relative;
  margin-top: 15px;
  width: 50%;
}
.dropdown-menu .dropdown-list {
  position: absolute;
  top: 54%;
  left: 0;
  background-color: rgb(248, 247, 247);
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-menu .dropdown-list li {
  padding-bottom: 7px;
  padding: 8px 0 7px 15px;
}
.dropdown-menu.open {
  margin-bottom: 12%;
}
.dropdown-menu.open .dropdown-list {
  max-height: 220px;
  padding: 10px 0;
}
.dropdown-menu.open .arrow {
  transform: rotate(180deg);
}
.dropdown-menu .dropdown-trigger {
  background-color: #ff6060;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
}
.dropdown-menu .dropdown-trigger p {
  margin: 0;
  color: white;
  font-weight: 600;
}
.dropdown-menu .arrow {
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  transform: rotate(0deg);
  color: white;
}

.dropdown-item {
  padding: 5px 20px;
}

@media (max-width: 480px) {
  .container__logement {
    padding: 0 11px 50px 11px;
  }
  .container__logement .presentation {
    flex-direction: column;
  }
  .container__logement .presentation__main h1 {
    font-size: 23px;
  }
  .container__logement .presentation__main__tags p {
    border-radius: 10px;
    font-size: 10px;
    width: 100%;
    padding: 0;
    height: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .container__logement .presentation__second {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .container__logement .presentation__second__profil img {
    width: 45px;
  }
  .container__logement .presentation__second__profil p {
    font-size: 14px;
  }
  .container__logement .presentation__second__rating .star-rating .fa-star {
    font-size: 14px;
    margin-right: 6px;
  }
  .container__dropMenu {
    flex-direction: column;
    gap: 20px;
  }
  .container__dropMenu .dropdown-menu {
    width: 100%;
  }
  .container__dropMenu .dropdown-menu.open {
    margin-bottom: 64%;
  }
}
@media (max-width: 1024px) and (min-width: 481px) {
  .container__logement {
    padding: 0 11px 50px 11px;
  }
  .container__logement .presentation__main h1 {
    font-size: 22px;
  }
  .container__logement .presentation__main span {
    font-size: 14px;
  }
  .container__logement .presentation__main__tags {
    margin-top: 15px;
  }
  .container__logement .presentation__main__tags p {
    font-size: 13px;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 13px;
    padding: 0;
  }
  .container__logement .presentation__second__profil img {
    width: 60px;
  }
  .container__logement .presentation__second__profil p {
    width: 87px;
  }
  .container__logement .presentation__second__rating {
    margin-top: 35px;
  }
  .container__logement .presentation__second__rating .star-rating .fa-star {
    font-size: 15px;
  }
  .container__dropMenu {
    gap: 35px;
  }
  .container__dropMenu .dropdown-menu.open {
    margin-bottom: 16%;
  }
}
.container__DropMenu__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 40px 0;
}
.container__DropMenu__about .dropdown-menu {
  width: 75%;
  margin-top: 36px;
}
.container__DropMenu__about .dropdown-menu.open {
  margin-bottom: 40px;
}

.Footer {
  margin-top: 97px;
}

@media (max-width: 480px) {
  .body__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container__DropMenu__about {
    margin: 20% 0 40% 0;
  }
  .container__DropMenu__about .dropdown-menu.open {
    margin-bottom: 165px;
  }
}
@media (max-width: 1024px) and (min-width: 481px) {
  .container__DropMenu__about .dropdown-menu.open {
    margin-bottom: 90px;
  }
}
.Footer {
  background: black;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer img {
  margin-top: 20px;
}
.Footer p {
  color: white;
  font-family: "Montrserrat", sans-serif;
  font-size: 17px;
  margin: 30px 0 0 0;
}

@media (max-width: 480px) {
  .Footer {
    margin-top: 55px;
    height: 200px;
  }
  .Footer img {
    width: 35%;
  }
  .Footer p {
    width: 90px;
    font-size: 12px;
    text-align: center;
  }
}
body {
  margin: 0;
}

.Picture__Banner {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 20px 0 32px;
}
.Picture__Banner img {
  position: absolute;
  width: 90%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.Picture__Banner span {
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #000000;
  width: 90%;
  border-radius: 15px;
}
.Picture__Banner p {
  position: absolute;
  z-index: 2;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: 2px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  margin: 40px 90px 0 100px;
  border-radius: 20px;
}
.container__structure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
  gap: 60px;
}
.container__structure_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
}
.container__structure_cards img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 15px;
}
.container__structure_cards p {
  position: absolute;
  bottom: 0px;
  left: 12px;
  width: 50%;
  font-family: "Montserra", sans-serif;
  color: white;
  font-weight: 700;
}

@media (max-width: 480px) {
  .Picture__Banner {
    margin: 0;
    height: 128px;
  }
  .Picture__Banner p {
    font-size: 27px;
    width: 83%;
  }
  .container {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
  }
  .container__structure {
    gap: 30px;
    margin: 0;
  }
  .container__structure_cards p {
    left: 25px;
  }
  .container__structure_cards img {
    width: 90%;
    height: 300px;
  }
}
@media (max-width: 1024px) and (min-width: 481px) {
  .Picture__Banner p {
    font-size: 27px;
  }
  .container__structure {
    justify-content: center;
  }
  .container__structure_cards img {
    width: 100%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.container__404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__404_error {
  font-size: 288px;
  font-weight: 700;
  color: #ff6060;
  margin-top: 25px;
}
.container__404_text {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin-top: 50px;
}
.container__404 a {
  margin: 70px 0 120px 0;
}
.container__404_link {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

@media (max-width: 480px) {
  .container__404 a {
    margin: 100px 0 86px 0;
  }
  .container__404_error {
    font-size: 96px;
    margin-top: 100px;
  }
  .container__404_text {
    font-size: 18px;
    margin-top: 120px;
    width: 72%;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
